
<div class="container">
  <div class="images">
    <img src="assets/inicio-img-01.jpg" alt="Moto na oficina" class="image">
    <img src="assets/inicio-img-02.jpg" alt="Ferramentas" class="image">
  </div>
  <div class="text">
    <p>
      A Blu Motos é uma oficina especializada em manutenção e personalização de motocicletas,
      comprometida em oferecer serviços de alta qualidade para apaixonados por motos. Nossa
      equipe é composta por profissionais experientes e dedicados, prontos para cuidar de cada
      detalhe e garantir que sua moto esteja sempre em perfeitas condições. Seja para um conserto,
      revisão ou customização, na Blu Motos você encontra o cuidado e a atenção que sua moto merece.
    </p>
  </div>
</div>

