.inicio-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; /* Espaço extra na parte superior */
}

.inicio-section {
  max-width: 1200px;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.inicio-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.inicio-section .description {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

.inicio-texto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.inicio-texto img {
  width: 40%; /* Reduzido para dar mais espaço ao texto */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.inicio-texto .description {
  width: 60%; /* Ampliado para mais texto */
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .inicio-texto {
    flex-direction: column;
    align-items: center;
  }

  .inicio-texto img,
  .inicio-texto .description {
    width: 100%;
  }
}
