<div class="cliente-container">
  <div class="busca-container">
    <label for="tipoBusca">Buscar por:</label>
    <select id="tipoBusca" [(ngModel)]="tipoBusca">
      <option value="nome">Nome</option>
      <option value="cpf">CPF</option>
      <option value="id">ID</option>
    </select>
    <input type="text" [(ngModel)]="valorBusca" placeholder="Digite o valor para busca" />
    <button (click)="buscarCliente()" class="btn-buscar">Buscar</button>

    <button routerLink="/cadastrar-cliente" class="btn-novo">Novo</button>

  </div>
  <div *ngIf="cliente" class="form-container">
    <div class="informacao">
      <label>Código:</label>
      <span>{{ cliente.id }}</span>
    </div>

    <div class="informacao">
      <label>Nome:</label>
      <span>{{ cliente.nome }}</span>
    </div>

    <div class="informacao">
      <label>CPF:</label>
      <span>{{ cliente.cpf }}</span>
    </div>

    <div class="informacao">
      <label>Nascimento:</label>
      <span>{{ cliente.datanascimento }}</span>
    </div>

    <div class="informacao">
      <label>Telefone:</label>
      <span>{{ cliente.telefone }}</span>
    </div>

    <div class="informacao">
      <label>Email:</label>
      <span>{{ cliente.email }}</span>
    </div>

    <button (click)="alterarCliente()" class="btn-alterar">Alterar</button>
  </div>


  <div *ngIf="!cliente && clienteBuscado" class="cliente-nao-encontrado">
    <p>Cliente não informado.</p>
  </div>

</div>
