<header>
  <nav class="navbar">
    <div class="container">
      <ul class="menu">
        <li><a routerLink="/inicio" routerLinkActive="router-link-active">Início</a></li>

        <li class="dropdown">
          <a class="dropbtn">Cadastros</a>
          <div class="dropdown-content">
            <a routerLink="/clientes" routerLinkActive="router-link-active">Clientes</a>
            <a routerLink="/fornecedores" routerLinkActive="router-link-active">Fornecedores</a>
            <a routerLink="/produtos" routerLinkActive="router-link-active">Produtos</a>
          </div>
        </li>

        <li class="dropdown">
          <a class="dropbtn">Servicos</a>
          <div class="dropdown-content">
            <a routerLink="/cadastrar-os" routerLinkActive="router-link-active">Novo</a>
            <a routerLink="/consulta-os-em-andamento" routerLinkActive="router-link-active">Em Andamento</a>
            <a routerLink="/consulta-os-em-andamento" routerLinkActive="router-link-active">Concluidos</a>
          </div>
        </li>
        <li><a routerLink="/orcamentos" routerLinkActive="router-link-active">Orçamentos</a></li>
        <li><a routerLink="/relatorios" routerLinkActive="router-link-active">Relatórios</a></li>
      </ul>
    </div>
  </nav>
</header>
